html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
 margin: 0;
 font-family: 'Roboto';
}

.header,
.footer {
 display: flex;
 align-items: center;
 padding: 18px 213px;
 background-color: #1f2937;
}

.header-logo {
 color: #f9faf8;
 font-size: 24px;
 font-weight: bold;
 margin-right: auto;
}

ul {
 display: flex;
 font-size: 18px;
 list-style: none;
 gap: 24px;
 padding: 0;
 margin: 0;
}

a {
 text-decoration: none;
 color: #e5e7eb;
}

.hero {
 display: flex;
 align-items: center;
 padding: 100px 213px 120px 213px;
 background-color: #1f2937;
}

.hero-content {
 display: flex;
 flex-direction: column;
 max-width: 450px;
 margin-right: auto;
}

.hero-title {
 color: #f9faf8;
 font-size: 48px;
 font-weight: 900;
 margin: 0;
}

.hero-description,
button,
.information-description {
 color: #e5e7eb;
 font-size: 18px;
 margin-bottom: 10px;
}

button {
 background-color: #3882f6;
 font-weight: bold;
 padding: 7px 33px;
 border-radius: 8px;
 border: 1px solid black;
}

.chair-image,
.table-image,
.lighting-image,
.plants-image {
 display: block;
 border: 4px solid rgb(49, 129, 235);
 border-radius: 18px;
 object-fit: cover;
 object-position: right center;
 margin-bottom: 8px;
}

.table-image {
 object-position: center center;
}

.information {
 text-align: center;
 padding: 16px 0 107px 0;
}

.information-content {
 display: flex;
 justify-content: center;
 gap: 50px;
}

.information-container {
 max-width: 170px;
}

.information-description,
h2 {
 color: #1f2937;
}

h2 {
 font-size: 36px;
 font-weight: 900;
 margin-bottom: 48px;
}

.quote {
 background-color: #e5e7eb;
 padding: 130px 0 96px 0;
}

blockquote {
 color: #1f2937;
 font-size: 36px;
 font-weight: 300;
 margin: 0;
}

.quote-content {
 max-width: 780px;
 margin: 0 auto
}

blockquote + p {
text-align: right;
font-size: 24px;
margin: 0;
}

.cta-section {
  padding: 100px 30px 98px 30px;
}

.cta-container {
 background-color: #3882f6;
 height: 152px;
 width: 1020px;
 border-radius: 10px;
 margin: 0 auto;
 display: flex;
 padding: 0 110px;
 align-items: center;
}

.cta-content {
 margin-right: auto;
}

.cta-text-primary {
 margin: 0;
 color: #f9faf8;
 font-size: 24px;
}

.cta-text-secondary {
 margin: 0;
 color: #e5e7eb;
 font-size: 18px;
}

.cta-section button {
 margin: 0 0 -5px 0;
 border: 2px solid white;
}

.footer {
 color: #e5e7eb;
 font-size: 18px;
 justify-content: center;
 padding: 21px 213px;
}